<div class="card mb-3">
  <div class="card-body">
    <div class="d-flex">
      <div class="d-flex justify-content-center align-items-center pe-3">
        <%= form.radio_button :flight_id, flight.id, {class: "form-check-input ", type: "checkbox", style:"border-color: black"} %>
      </div>
      <%= render partial: "flight_data", locals: {flight: flight}%>
    </div>
  </div>
